* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 1440px;
    height: 100vw;
    margin: 0 auto;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    padding: 20px;
}
div .container {
   background-color: chartreuse;
   border: solid 2px black;
}
.main {
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    margin: 20px;
    border: solid 2px black;
    width: 100%;
    height: auto;
} 
.main img {
    margin-bottom: 50px;
}
.content {
    display: grid;
    align-content: space-between;
    box-sizing: border-box;
    margin: 20px;
    color: white;  
    border: solid 2px black;
    width: 100%;
    height: auto;
}
.content-heading {
    box-sizing: border-box;
    line-height: 35px;
    border: solid 2px black;
    padding-top: 180px;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 30px;
}
button {
    box-sizing: border-box;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 30px;

}
.logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    border: solid 2px black;
    box-sizing: border-box;
}
.logos img {
    margin: 5px;
}

@media only screen and (max-width: 640px) {
    body {
        width: 370px;
        height: 100vw;
        margin: 0 auto;
    }
    .container {
        grid-template-columns: 1fr;
        padding: 2px;
    }
    .main {
        margin: 20 0 20px 0;  
    } 
    .main img {
        width: 100%;
        height: auto;
    }
    .main .huddle-logo {
        width: 30%;
        height: auto;
    }
    .content {
        align-content: space-between;

    }
    .content-heading {
        padding-top: 20px;
    }
    button {
        background-color: white;
        padding: auto;
        width: 60%;
        margin: 10px auto 50px auto;
    }
    .logos {
        justify-content: center;
    }

}

